<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= @title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body style="background-color: #E4E4E4;">
    <div class="container-fluid">
      <header class="header fixed-top" style="background-color: ghostwhite;">
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand fs-1 fw-bold" href="/" style="margin-left: 30px;">
            <%= @header_title %>
          </a>
          <div class="d-flex" style="margin-right: 30px;">
            <form id="search-form" style="margin-right: 10px;">
              <div class="d-flex">
                <label class="form-label" for="search-box" hidden>検索</label>
                <input class="form-control" type="form-control" id="search-box" placeholder="スレッド検索" size="16" required>
                <button class="btn btn-outline-dark text-nowrap" type="submit">
                  <img src="/icons/search.svg" alt="search-icon">
                  検索
                </button>
              </div>
            </form>
            <a class="nav-link text-decoration-none" href="/create_thread">スレッド作成</a>
            <a class="nav-link text-decoration-none" href="#">ログイン</a>
          </ul>
        </nav>
      </header>
     <main style="padding-top: 100px; padding-bottom: 100px;">
        <% if @thread.nil? %>
          <p class="text-center">スレッドが見つかりませんでした。</p>
        <% else %>
          <div class="border border-start-0 border-end-0 border-top-0 border-dark" style="padding-bottom: 30px;">
            <h2 style="margin-bottom: 15px;">
              <%= @thread.title %>
            </h2>
            <span>作成日: <%= ChatBoard::Utils.toDisplayTime(@thread.time_stamp) %></span><br>
            <span>コメント: <%= @thread.chatMessages.length %></span>
          </div>
          <div style="margin-top: 15px; margin-bottom: 15px;">
            <% @thread.chatMessages.each_with_index do |chatMessage, index| %>
              <div class="border bg-light p-3" style="min-width: 800px; max-width: 1000px; margin-bottom: 10px;">
                <span><%= index + 1 %></span>
                <span style="margin-left: 5px; color: green;"><%= chatMessage.user.name %></span>
                <span style="margin-left: 5px; color: black;"><%= ChatBoard::Utils.toDisplayTime(chatMessage.time_stamp) %></span>
                <span style="margin-left: 5px; color: black;">ID: <%= chatMessage.user.getShortId %></span><br>
                <span style="color: black;"><%= chatMessage.message %></span>
              </div>
            <% end %>
          </div>
          <% if @thread.chatMessages.length < 1000 %>
            <div class="border border-start-0 border-end-0 border-bottom-0 border-dark" style="padding-top: 30px;">
              <form id="comment-form">
                <div class="m-auto" style="text-align: center; max-width: 500px;">
                  <label for="comment" class="form-label" hidden></label>
                  <textarea type="text" class="form-control" id="comment" name="comment" placeholder="コメント内容" maxlength="1000" minlength="1" rows="3" required></textarea>
                  <button type="submit" class="btn btn-primary" style="margin-top: 10px;">書き込む</button>
                </div>
              </form>
            </div>
          <% end %>
        <% end %>
      </main>
      <footer class="fixed-bottom" style="padding: 16px; background-color: ghostwhite;">
        <article class="text-center">
          © Yuukosu<br>
          転載禁止
        </article>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <% if @thread %>
      <script>
        $(document).ready(() => {
                form = $('#comment-form');
                comment = $('#comment');
                if (form && comment) {
                        comment.val('');
                        form.on('submit', (e) => {
                                e.preventDefault()
                                uri = '/api/post_message/<%= @thread.id %>'
                                $.post(uri, {message:comment.val()}, (response) => {
                                        json = JSON.parse(response);

                                        if (json['status'] === 'success') {
                                                location.reload();
                                        }
                                });
                                form.off('submit');
                        });
                }
        });
      </script>
    <% end %>
  </body>
</html>
